<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAT and GST Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>VAT and GST Calculator</h1>
    <form method="post">
        <label for="value">Enter Value:</label>
        <input type="number" step="0.01" name="value" required>
        <button type="submit">Calculate</button>
    </form>

    {% if result %}
        <div class="result">
            <h2>Calculation Result:</h2>
            <p><strong>Original Value including 20% VAT%:</strong> {{ "{:.2f}".format(result['original_value']) }}</p>
            <p><strong>Value Excluding 20% VAT%:</strong> {{ "{:.2f}".format(result['vat_removed_value']) }} (VAT: {{ "{:.2f}".format(result['vat_amount']) }})</p>
            <p><strong>Final Value including 5% GST%:</strong> {{ "{:.2f}".format(result['final_value']) }} (GST Amount: {{ "{:.2f}".format(result['gst_amount']) }})</p>
        </div>
    {% endif %}
</body>
</html>
